{% extends 'game/base.html' %}
{% block content %}

<div class="container mt-5">

    <h1>Selenium Test Runner</h1>

    <form method="post">
        {% csrf_token %}

        <!-- <button
            type="button"
            name="test"
            value="all">
            Run All Tests
        </button> -->
            



        <button
            type="button"
            data-test-name="all"
            data-bs-toggle="modal"
            data-bs-target="#seleniumModal"
            onclick="startSeleniumTest(this)">
            Run All Test
        </button>

        <button
            type="button"
            data-test-name="Login Test"
            data-bs-toggle="modal"
            data-bs-target="#seleniumModal"
            onclick="startSeleniumTest(this)">
            Run Login Test
        </button>

        <button
            type="button"
            name="test"
            value="create_warrior"
            data-test-name="Create Warrior Test"
            data-bs-toggle="modal"
            data-bs-target="#seleniumModal"
            onclick="startSeleniumTest(this)">
            Run Create Warrior Test
        </button>

        <button
            type="button"
            name="test"
            value="seltest_01"
            data-test-name="Seltest 01"
            data-bs-toggle="modal"
            data-bs-target="#seleniumModal"
            onclick="startSeleniumTest(this)">
            Run Seltest_01
        </button>

        <button
            type="button"
            name="test"
            value="seltest_02"
            data-test-name="Seltest 02"
            data-bs-toggle="modal"
            data-bs-target="#seleniumModal"
            onclick="startSeleniumTest(this)">
            Run Seltest_02
        </button>

        <button
            type="button"
            name="test"
            value="seltest_03"
            data-test-name="Seltest 03"
            data-bs-toggle="modal"
            data-bs-target="#seleniumModal"
            onclick="startSeleniumTest(this)">
            Run Seltest_03
        </button>

    </form>


    <h2>Test Output</h2>

    <div>
        {% for line in result %}
            <p>{{ line }}</p>
        {% endfor %}
    </div>

</div>
{% include "game/partials/selenium_test_modal.html" %}

{% endblock %}