home/.tcproxy.env
home/.vm-serial-file
home/data.img
home/id_rsa_vm
home/id_rsa_vm.pub
home/log-tcproxy.txt
home/qemu.mac
game/__pycache__/boss.cpython-312.pyc
game/__pycache__/character_view.cpython-312.pyc
game/__pycache__/encounter_view.cpython-312.pyc
game/__pycache__/forms.cpython-312.pyc
game/__pycache__/models.cpython-312.pyc
game/__pycache__/urls.cpython-312.pyc
game/__pycache__/views.cpython-312.pyc
game/migrations/0019_remove_monster_boss_type.py
game/migrations/0020_remove_boss_boss_type.py
game/migrations/0021_boss_boss_type.py
game/migrations/__pycache__/0019_remove_monster_boss_type.cpython-312.pyc
game/migrations/__pycache__/0020_remove_boss_boss_type.cpython-312.pyc
game/migrations/__pycache__/0021_boss_boss_type.cpython-312.pyc
game/__pycache__/boss.cpython-312.pyc
game/__pycache__/encounter_view.cpython-312.pyc
game/__pycache__/forms.cpython-312.pyc
game/__pycache__/models.cpython-312.pyc
game/__pycache__/urls.cpython-312.pyc
game/__pycache__/views.cpython-312.pyc
game/__pycache__/boss.cpython-312.pyc
game/__pycache__/encounter_view.cpython-312.pyc
game/__pycache__/forms.cpython-312.pyc
game/__pycache__/models.cpython-312.pyc
game/__pycache__/urls.cpython-312.pyc
game/__pycache__/views.cpython-312.pyc
game/__pycache__/encounter_view.cpython-312.pyc
