{% extends 'game/base.html' %}
{% block content %}
    <h1>Encounter</h1>
    <p>You continue on your journey and encounter a mysterious figure...</p>
    <p>To be continued...</p>

    <p>You have encountered the boss!</p>
     {% if boss and boss.image %}
            <img src="{{ boss.image }}"
                class="img-fluid rounded mb-3"
                style="max-height:450px;">
        {% endif %}

    {% if not goblin.is_alive %}
        <p>The goblin has been defeated! You can continue on your journey.</p>
         <form method='post'>{% csrf_token %}
            <button name='encounter' value='attack_next'>Attack!</button>
            <button name='action' value='flee'>Flee</button>
        </form>
    {% else %}
        <p>The goblin has been defeated! You can continue on your journey.</p>
        <a href='{% url "game:journey" %}'>Continue Journey</a>
    {% endif %}
    <p></p>
  
    <p><a href="{% url 'game:tavern' %}"> <button> <h2>Tavern</h2></button></a></p>

{% endblock %}